* {
    /* border: 2px solid red; */
    /* border-radius: 15px; */
}
.header {
    /* border: 2px solid yellow; */
    height: 100px;
    width:  100%;
    display: flex; 
}    
body {
    /* border: 2px solid red; */
    background-color: rgb(18, 36, 36);
    color: white;
    margin: 0 auto;
    text-align: center;
    padding: 0 1em;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    height: 1200px;
    position: relative;
}

/*navigation bar*/
nav {
    /* border: 2px solid blue; */
    display: flex;
    border-bottom: 1px solid darkslategrey;
    z-index: 2;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 80px;
}
nav h1 {
    /* border: 2px solid blue; */
    text-align: justify;
    margin: 15px;
    padding: 10px;
    font-size: 30px;
    margin: 10px;
}
nav ul {
    /* border: 2px solid green; */
    margin: 10px 10px 10px auto;
   
}
nav li {
    padding:10px;
}
.navigation-item {
    /* border: 2px solid yellow; */
    display: inline-block;
    margin: 5px;
    background-color: darkslategrey;
    border-radius: 15px;
    /* padding: 20px; */
    box-shadow: 5px 2px 0 teal;
    border: 2px solid teal;
}
.navigation-item a {
    color: white;
}
.navigation-item:hover {
    background-color: rgb(114, 165, 165);
    color: lightgrey;
    transition: 1s;
    box-shadow: 10px 5px 0 rgb(235, 171, 53);
    border: 2px solid rgb(235, 171, 53)
}

.top {
    position: fixed;
    border-radius: 15px;
    background-color: darkslategrey;
}
.top a {
    color: white;
}
.top:hover {
    background-color: rgb(114, 165, 165);
    color: lightgrey;
    transition: 1s;
    box-shadow: 10px 5px 0 rgb(235, 171, 53);
    border: 2px solid rgb(235, 171, 53);

}

/*about me section styling*/
#more-info,
#read-less {
    display: none;
}
#read-more {
    display: inline-block;
}
#about-me {
    /* border: 2px solid red; */
    border-bottom: 1px solid darkslategrey;
    text-align: center;
    padding-bottom: 100px;
}
.about-me-container {
    /* border: 2px solid blue; */
    margin: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
}
.about-me-text-container {
    /* border: 2px solid yellow; */
    margin: 10px;
    display: block;
    width: 40%;
    font-size: 20px;
}

/*project section styling*/
#projects {
    /* border: 2px solid blue; */
    padding: 10px;
    margin: 2.5em auto;
}
.project-container {
    /* border: 2px solid yellow; */
    display: flex;
    border-bottom: 1px solid darkslategrey;
    padding: 100px 0;
}
#projects h2 {
    /* border: 2px solid red; */
    margin: 10px;
}
.project {
    background-color: darkslategrey;
    border-radius: 15px;
    margin: 20px;
    width: 100%;
    display: block;
    box-shadow: 5px 2px 0 teal;
    height: 350px;
    border: 2px solid teal;
}
.project:hover {
    background-color: rgb(114, 165, 165);
    color: lightgrey;
    transition: 1s;
    box-shadow: 10px 5px 0 rgb(235, 171, 53);
    border: 2px solid rgb(235, 171, 53);
}
.project-title {
    /* border: 2px solid blue; */
    display: inline-block;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    margin: 0; 
    display: inline-block;
    text-align: center;
    height: 80%;
    
}  
.project-description {
    /* border: 2px solid blue; */
    display: inline-block;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 100%;
    margin: 0;
    display: inline-block;
    text-align: center;
    height: 20%;
    border-top: 2px solid white;
}    
.project-title a {
    color: white;
}
.project-description a {
    color: white;
}
.button {
    
    border-radius: 5px;
    margin: 5px;
    background-color: rgb(93, 145, 145);
    border: 1px solid teal;
    box-shadow: 5px 2px 0 teal;
}
.button:hover {
    background-color: rgb(13, 56, 56);
    color: lightgrey;
    transition: 1s;
    box-shadow: 7px 5px 0 rgb(235, 171, 53);

}

/*skills section styling*/
#skills {
    /* background-color: darkslategrey; */
    border-bottom: 1px solid darkslategrey;
    padding-bottom: 100px;
}
#skills-container > * {
    /* border: 2px solid red; */
    font-size: 2em;
    width: 2em;
    margin-top: var(--spacing-1);
}
/*skills icons*/
.fab {
    font-family: "Font Awesome 5 Brands";
}

/*footer styling*/
.footer {
    /* background-color: darkslategrey; */
    padding: 10px;
    margin-top: 2.5em;
}
.fab {
    /* border: 2px solid red; */
    margin: 0 10px;
}
.fab p {
    color: white;
    font-size: 10px;
}
.fab a {
    color:rgb(18, 36, 36);
    font-size: 10px;
}
.fab a:hover {
    color: white;
}
.fa-github a {
    color:  rgb(18, 36, 36);
    font-size: 10px;
}
.fa-github a:hover {
    color: white;
}